
.root {
  form {
    display: flex;
    flex-direction: column;
  }

  .submit {
    text-transform: capitalize;
    background-color: #828282;
    width: auto;
  }

  h6 {
    font-weight: 700;
  }
}
